Mathematics/TheBigIdeas_Mathematics.synctex.gz
texput.log
.gitignore
Mathematics/definition.idx
Mathematics/missfont.log
Mathematics/TheBigIdeas_Mathematics.aux
Mathematics/TheBigIdeas_Mathematics.loe
Mathematics/TheBigIdeas_Mathematics.log
Mathematics/TheBigIdeas_Mathematics.toc
Mathematics/TheBigIdeas_Mathematics.out
CS/TheBigIdeas_ComputerScience.toc
CS/TheBigIdeas_ComputerScience.out
CS/TheBigIdeas_ComputerScience.aux
CS/TheBigIdeas_ComputerScience.log
CS/definition.idx
Mathematics/TheBigIdeas_Mathematics.dvi
Mathematics/TheBigIdeas_Mathematics.fdb_latexmk
Mathematics/TheBigIdeas_Mathematics.fls
Mathematics/definition.ilg
Mathematics/definition.ind
Quantum/TheBigIdeas_Quantum.aux
Quantum/TheBigIdeas_Quantum.log
Quantum/TheBigIdeas_Quantum.out
Quantum/TheBigIdeas_Quantum.synctex.gz
Quantum/TheBigIdeas_Quantum.toc
Mathematics/Test.aux
Mathematics/Test.log
Mathematics/Test.pdf
Mathematics/Test.tex
Quantum/TheBigIdeas_Mathematics.toc
Quantum/TheBigIdeas_Mathematics.out
Quantum/TheBigIdeas_Mathematics.log
Quantum/TheBigIdeas_Mathematics.aux
.gitignore
