Mathematics/TheBigIdeas_Mathematics.synctex.gz
texput.log
.gitignore
Mathematics/definition.idx
Mathematics/missfont.log
Mathematics/TheBigIdeas_Mathematics.aux
Mathematics/TheBigIdeas_Mathematics.loe
Mathematics/TheBigIdeas_Mathematics.log
.gitignore
.gitignore
.gitignore
Mathematics/TheBigIdeas_Mathematics.toc
Mathematics/TheBigIdeas_Mathematics.out
