Mathematics/TheBigIdeas_Mathematics.synctex.gz
texput.log
.gitignore
Mathematics/definition.idx
Mathematics/missfont.log
Mathematics/TheBigIdeas_Mathematics.aux
Mathematics/TheBigIdeas_Mathematics.loe
Mathematics/TheBigIdeas_Mathematics.log
Mathematics/TheBigIdeas_Mathematics.toc
Mathematics/TheBigIdeas_Mathematics.out
CS/TheBigIdeas_ComputerScience.toc
CS/TheBigIdeas_ComputerScience.out
.gitignore
CS/TheBigIdeas_ComputerScience.aux
CS/TheBigIdeas_ComputerScience.log
CS/definition.idx
